<!DOCTYPE html>
<html class="no-js" lang="{{ htmllang() }}">
<head>
    <meta charset="utf-8" />
<meta name="google-site-verification" content="DtPyAhPU1HNuUT9VWhPmkRKHXwvFsZLIMOeAwMV1Cp8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {# make sure we always display a proper title: The record's title if there is one, appended with the
       sitename. If there is no title, we append the sitename with the payoff, if there is one. #}
    <title>
        {% if record.title is defined %}{{ record.title|striptags }} | {% endif %}
            {{ app.config.get('general/sitename') }}
        {% if record.title is not defined and app.config.get('general/payoff') %} | {{ app.config.get('general/payoff') }}{% endif %}
    </title>

    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    {# paths.theme is always a correct path to the current theme. Even if you rename the theme-folder,
       this will keep working. See the documentation on paths: http://docs.bolt.cm/internals#paths #}
    <link rel="stylesheet" href="{{ paths.theme }}css/bootstrap.css">
    <link rel="stylesheet" href="{{ paths.theme }}css/theme.css">
    {# Bolt comes with Magnific Popup, as it's used in the backend. We can use it here, or you can
      just swap it out for the image-viewing script of your choice. Or delete it altogether. #}
    <link rel="stylesheet" href="{{ paths.theme }}css/magnific-popup.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">



    {#<!-- A variable from the theme's config: {{ theme.foo }} -->#}

</head>
<body>

<header class="main-navigation">
    <div class="container-fluid">
        <nav id="cssmenu" class="navigation-menu">
            <div class="col-md-2 col-sm-12 col-xs-12">
                <a href="{{ paths.root }}" class="logo"><img src="{{ paths.root }}files/logo.jpg" alt="Logo"/></a>
            </div>
            <div class="nav-social-icons text-center">
                <div class="text-block">
                    {{ menu('main', '_sub_menu.twig') }}
                    <a href="http://facebook.com/natarajamusic" target="_blank" class="social-icon"><i class="fa fa-facebook"></i></a>
                    <a href="http://soundcloud.com/natarajamusic" target="_blank" class="social-icon"><i class="fa fa-soundcloud"></i></a>
                    <a href="http://youtube.com/natarajamusic" target="_blank" class="social-icon"><i class="fa fa-youtube"></i></a>
                </div>
            </div>
        </nav>
    </div>
</header>
<div id="main-content">
