{% include '_header.twig' %}

<!-- Main Page Content and Sidebar -->
<section data-os-animation="fadeIn" data-os-animation-delay="0s" class="section-tiny section section-semi-white os-animation animated fadeIn" style="animation-delay: 0s;">
    <div class="container-fluid">
        <div class="col-md-4">
            {% if record.image!="" %}
                <div class="large-4 imageholder">
                    <a href="{{ image(value) }}">
                        <img src="{{ thumbnail(value, 640, 480) }}">
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="col-md-8">
                <h3>{{ record.title }} <kbd>{{ record.type }}</kbd> <kbd>{{ record.style }}</kbd></h3>
                <p>
                    {{ record.html }}
                </p>
                <p>
                    <a href="{{ record.link_facebook }}"><i class="fa fa-facebook" aria-hidden="true"></i> facebook</a>
                    <a href="{{ record.link_soundcloud }}"><i class="fa fa-soundcloud" aria-hidden="true"></i> soundcloud</a>
                </p>
        </div>
    </div>
</section>


    {% include '_footer.twig' %}
