{% include '_header.twig' %}

<!-- Main Page Content and Sidebar -->
<section data-os-animation="fadeIn" data-os-animation-delay="0s" class="section-tiny section section-semi-white os-animation animated fadeIn" style="animation-delay: 0s;">
    <div class="container-fluid">
        <div class="col-md-6 col-md-offset-3">
            <div class="section-head with-icon">
                <h1 class="sectionTitle">{{ record.title }}</h1>
            </div>
            {% if record.end_date is not null %}
            <p style="text-align: center;">Du {{ record.start_date|date("d/m/Y") }} au {{ record.end_date|date("d/m/Y") }}</p>
            {% else %}
                <p style="text-align: center;">Le {{ record.start_date|date("d/m/Y") }}</p>
            {% endif %}
            <p style="text-align: center;">
                <div class="large-4 imageholder">
                    <a href="{{ image(record.image) }}">
                        <img src="{{ thumbnail(record.image, 640, 320) }}">
                    </a>
                </div>
            </p>
            <p style="text-align: center">
                <a href="{{ record.link_buy }}">
                    <img style="width: 250px;margin-top: 30px;" src="http://katywinefest.com/backend/wp-content/uploads/2012/10/buy-tickets.png"></a></p>
            <p style="text-align: center;">{{ record.html }}</p>
            <p style="text-align: center;"><b>Buy your ticket now on: </b><a href="{{ record.link_buy }}">{{ record.link_buy }}</a></p>
            <p style="text-align: center;"><b>Facebook Event Page: </b><a href="{{ record.link_facebook }}">{{ record.link_facebook }}</a></p>
        </div>
    </div>
</section>


    {% include '_footer.twig' %}
