{% include '_header.twig' %}

    <!-- Main Blog Content -->
<section class="section section-white">
    <div class="container-fluid">
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="sectionTitle">{{ contenttype }}</h1>
                </div>
                <div class="col-md-12">
                    <div class="row releases-wrap">
                        {% for record in records %}
                            <div class="col-md-4 margin-top">
                                <a href="{{ record.link }}" class="recordTitle">{{ record.title }}</a>
                                <a href="{{ record.link }}"><img src="{{ thumbnail(record.image, 400, 260) }}"></a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {# If there are more records than will fit on one page, the pager is shown. #}
                {{ pager() }}
            </div>
        </div>
    </div>
</section>

    <!-- End Main Content -->

{% include '_footer.twig' %}
